<p>Lista de Jogos</p>

<table border="1">
    <tr>
        <td>ID:</td>
        <td>NOME</td>
        <td>TIPO</td>
        <td>Editar</td>
        <td>Deletar</td>

    </tr>

    <tr *ngFor="let games of listGames">
        <td>{{games.id}}</td>
        <td>{{games.name}} </td>
        <td>{{games.type}}</td>
        <td><a routerLink="/games/update/{{games.id}}"><mat-icon style="color: blue;">create</mat-icon></a></td>
        <td><a routerLink="/games/delete/{{games.id}}"><mat-icon style="color: black;">delete</mat-icon></a></td>
    </tr>
</table>